<nav class="nav_containers">
  <a routerLink="">
    <h2 class="titleAgregar">Nutrientes</h2>
  </a>
  <div class="" id="navbarNav">
    <ul class="lista">
      <li class="">
        <a routerLink="" class="nav-link">Inicio</a>
      </li>
      <li class="">
        <a routerLink="listNutri" class="nav-link">Lista Nutrientes</a>
      </li>
      <li class="">
        <a routerLink="addNutri" class="nav-link">Agregar Nutrientes </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-app">
  <router-outlet></router-outlet>
</div>
